.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rudaregular';
  src: url("../fonts/ruda-regular-webfont.woff2") format("woff2"), url("../fonts/ruda-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  height: 100%;
  background-color: white;
  font: 16px/1.5 "open_sanslight", "Arial", sans-serif; }

h1, h2, h3, h4 {
  font: 5.063rem "rudaregular", "Arial", sans-serif; }

h2 {
  font-size: 3.375rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5rem; }

p {
  margin: 1rem; }

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border: 1px white solid;
  border-bottom: 5px white solid;
  border-radius: 10px;
  text-align: center;
  width: 30rem; }

.btn-submit {
  background-color: #df5a49;
  color: white;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
  border: 1px #df5a49 solid;
  border-bottom: 5px #97522a solid;
  border-radius: 10px;
  text-align: center;
  height: 3rem;
  width: 15rem; }

.btn-green {
  color: #45b29d;
  border: 1px #45b29d solid;
  border-bottom: 5px #45b29d solid; }

.btn-yellow {
  color: #efc94c;
  border: 1px #efc94c solid;
  border-bottom: 5px #efc94c solid; }

.btn-black {
  color: #333;
  border: 1px #333 solid;
  border-bottom: 5px #333 solid; }

.btn-red {
  color: #df5a49;
  border: 1px #df5a49 solid;
  border-bottom: 5px #df5a49 solid; }

.form-section {
  background-color: #e8e8e8; }

.form-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white; }

.form-section h4 {
  color: #df5a49; }

form {
  font-family: 'open_sansregular';
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: inherit;
  font-size: 1rem;
  color: #df5a49; }

input, textarea {
  margin-bottom: 1rem;
  border-color: #df5a49;
  width: 15rem;
  height: 2rem; }

textarea {
  height: 5rem;
  border-color: #df5a49;
  font-size: 16px; }

input[type="text"], input[type="email"], input[type="tel"] {
  font-size: 1rem; }

footer {
  color: white;
  background-color: #324d5c;
  width: 100%;
  padding: 1rem; }

footer .container {
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem; }

footer h4 {
  font-family: 'open_sanslight'; }

address {
  font-size: 1.125rem;
  font-style: normal;
  color: #ababab;
  margin-bottom: 1rem; }

.ul-social {
  font-size: 1.125rem;
  list-style: none;
  margin: 0;
  padding: 0; }

footer .ul-social li {
  display: inline;
  margin: 5px; }

/*# sourceMappingURL=main.css.map */
