.headline-margin {
  margin: 1rem 2rem; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rudaregular';
  src: url("../fonts/ruda-regular-webfont.woff2") format("woff2"), url("../fonts/ruda-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: white;
  font: 16px/1.5 "open_sanslight", "Arial", sans-serif; }

.green {
  background-color: #45b29d; }

.white {
  background-color: #e8e8e8; }

.blue {
  background-color: #324d5c; }

.red {
  background-color: #df5a49; }

.black {
  background-color: #333; }

.none {
  background-color: white; }

h1,
h2,
h3,
h4 {
  font: 5.063rem "rudaregular", "Arial", sans-serif; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 3.375rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5rem; }

p {
  margin: 1rem; }

.lead {
  font: 1.125rem/1.5 "open_sanslight", "Arial", sans-serif; }

.text-center {
  text-align: center; }

button {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border: 1px white solid;
  border-bottom: 5px white solid;
  border-radius: 6px;
  text-align: center;
  width: 15rem; }

.btn-submit {
  background-color: #df5a49;
  color: white;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
  border: 1px #df5a49 solid;
  border-bottom: 5px #97522a solid;
  border-radius: 5px;
  text-align: center;
  height: 3.25rem;
  width: 15rem; }

.btn-green {
  color: #45b29d;
  border: 1px #45b29d solid;
  border-bottom: 5px #45b29d solid; }

.btn-yellow {
  color: #efc94c;
  border: 1px #efc94c solid;
  border-bottom: 5px #efc94c solid; }

.btn-black {
  color: #333;
  border: 1px #333 solid;
  border-bottom: 5px #333 solid; }

.btn-red {
  color: #df5a49;
  border: 1px #df5a49 solid;
  border-bottom: 5px #df5a49 solid; }

.white-text {
  color: white; }

.bg-red {
  background: #df5a49;
  fill: #df5a49; }

header {
  width: 100%;
  height: 100vh; }

.header-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom 150px;
  background-blend-mode: multiply;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-direction: column; }

.main-headline-box {
  width: 100%;
  height: 50%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-direction: column; }

#large-flash {
  width: 57px;
  height: auto;
  align-self: center;
  display: none; }

#small-flash {
  position: absolute;
  right: 16px;
  bottom: 30%;
  width: 38px;
  height: auto;
  position: -100px; }

.header-diagonal-top {
  display: block;
  width: 100%;
  height: 22%; }

.header-diagonal-bottom {
  width: 100%;
  height: 28%; }

#racecar {
  background-image: url("../images/img/Formula-1-1280.png"); }

@media screen and (min-width: 480px) {
  .main-headline {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; }

  #large-flash {
    display: block; }

  #small-flash {
    display: none; } }
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem; }

  .lead {
    font-size: 1.5rem; } }
@media screen and (min-width: 1280px) {
  .header-img {
    background-position: center bottom; } }
.form-section {
  background-color: #e8e8e8; }

.form-section .container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
  background-color: white; }

.form-section h4 {
  color: #df5a49; }

form {
  font-family: 'open_sansregular';
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: inherit;
  font-size: 1rem;
  color: #df5a49; }

input,
textarea {
  margin-bottom: 1rem;
  height: 3rem;
  border-color: #df5a49;
  width: 15rem; }

textarea {
  height: 5rem;
  border-color: #df5a49;
  font-size: 16px; }

input[type="text"],
input[type="email"],
input[type="tel"] {
  font-size: 2rem; }
  input[type="text"] input[type="text"],
  input[type="text"] input[type="email"],
  input[type="text"] input[type="tel"],
  input[type="email"] input[type="text"],
  input[type="email"] input[type="email"],
  input[type="email"] input[type="tel"],
  input[type="tel"] input[type="text"],
  input[type="tel"] input[type="email"],
  input[type="tel"] input[type="tel"] {
    font-size: 1rem; }
  input[type="text"] footer,
  input[type="email"] footer,
  input[type="tel"] footer {
    width: 100%;
    color: white;
    background-color: #324d5c;
    padding: 1rem; }
  input[type="text"] footer .container,
  input[type="email"] footer .container,
  input[type="tel"] footer .container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem 1rem 1rem; }
  input[type="text"] footer h4,
  input[type="email"] footer h4,
  input[type="tel"] footer h4 {
    font-family: 'open_sanslight'; }
  input[type="text"] address,
  input[type="email"] address,
  input[type="tel"] address {
    font-style: normal;
    color: #ababab;
    margin-bottom: 1rem; }
  input[type="text"] .ul-social,
  input[type="email"] .ul-social,
  input[type="tel"] .ul-social {
    list-style: none;
    margin: 0;
    padding: 0; }
  input[type="text"] footer .ul-social li,
  input[type="email"] footer .ul-social li,
  input[type="tel"] footer .ul-social li {
    display: inline;
    margin: 0 5px 1rem 0; }
  input[type="text"] footer .ul-social li a,
  input[type="email"] footer .ul-social li a,
  input[type="tel"] footer .ul-social li a {
    text-decoration: none;
    color: white; }
  input[type="text"] footer .ul-social li a:hover,
  input[type="email"] footer .ul-social li a:hover,
  input[type="tel"] footer .ul-social li a:hover {
    color: #95b4c5; }
  @media screen and (min-width: 480px) {
    input[type="text"] .main-headline,
    input[type="email"] .main-headline,
    input[type="tel"] .main-headline {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column; }
    input[type="text"] #large-flash,
    input[type="email"] #large-flash,
    input[type="tel"] #large-flash {
      display: block; }
    input[type="text"] #small-flash,
    input[type="email"] #small-flash,
    input[type="tel"] #small-flash {
      display: none; } }
  @media (min-width: 768px) {
    input[type="text"] h1,
    input[type="email"] h1,
    input[type="tel"] h1 {
      font-size: 3.75rem; }
    input[type="text"] .lead,
    input[type="email"] .lead,
    input[type="tel"] .lead {
      font-size: 1.5rem; } }
  @media screen and (min-width: 1280px) {
    input[type="text"] .header-img,
    input[type="email"] .header-img,
    input[type="tel"] .header-img {
      background-position: center bottom; } }

/*# sourceMappingURL=main.css.map */
