.bg-green {
    background-color: $green;
}

.bg-white {
    background-color: $white;
}

.bg-blue {
    background-color: $blue;
}

.bg-red {
    background-color: $red;
}

.bg-gray-dark {
    background-color: $gray-dark;
}
.bg-smoke {
    background-color: $smoke;
}