//bg-colors for boxes
.bg-green {
    background-color: $green;
    fill: $green;
}

.bg-white {
    background-color: $white;
    fill: $white;
}

.bg-blue {
    background-color: $blue;
    fill: $blue;
}

.bg-red {
    background-color: $red;
    fill: $red;
}

.bg-gray-dark {
    background-color: $gray-dark;
    fill: $gray-dark;
}

.bg-smoke {
    background-color: $smoke;
    fill: $smoke;
}