//Buttons
.btn {
    @include flex-center;
    //margin: $main-margin;
    background-color: transparent;
    border-radius: $border-radius-base;
    border: $btn-border-width white solid;
    border-bottom: $btn-border-bottom-width white solid;
    color: white;
    font-family: 'open_sansregular';
    font-size: 1.125rem;
    padding: 0.7rem $main-padding;
    text-align: center;
    text-transform: uppercase;
    width: 18rem;
}

.btn-submit {
    background-color: $red;
    border-radius: $border-radius-base;
    border-color: $red;
    border-bottom-color: $brown;
    color: white;
    width: 100%
    //margin: 1rem 0 2rem 0;
}

.btn-to-top {
    border-bottom-color: white;
    border-radius: $border-radius-base;
    font-size: 3rem;
    padding: $main-padding/3 $main-padding/1.5;
    color: white;
    margin-top: $main-margin*2;
    margin-bottom: -$main-margin*1.5;
    width: 2.75rem;
}

.btn-to-top i {
    line-height: 2rem;
    margin: $main-margin/2;
}

.btn-green {
    color: $green;
    border-color: $green;
}

.btn-yellow {
    color: $yellow;
    border-color: $yellow;
}

.btn-gray-dark {
    color: $gray-dark;
    border-color: $gray-dark;
}

.btn-red {
    color: $red;
    border-color: $red;
}