//Ändra detta med media queries!!!!
.contact-main {
    display: flex;
    align-items: center;
    @media (max-width: 40rem) {
        flex-flow: column nowrap;
    }
    @media (min-width: 40rem) and (max-width: 60rem) {
        flex-flow: column wrap;
        height: 50rem;
        max-width: 60rem;
        align-content: space-around;
    }
    @media (min-width: 60rem) {
        flex-flow: column wrap;
        height: 50rem;
        align-content: space-around;
    }
}

.contact-card {
    display: flex;
    flex-direction: column;
    width: 19.5625rem;
    margin-bottom: 1.5rem;
}

.contact-card-inner {
    width: 19.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5625rem;
    padding-bottom: 1.9375rem;
}

//Annorlunda marginaler för text
.contact-font {
    color: #777777;
    margin: 0rem 0rem 0.875rem 0rem;
}

.contact-heading {
    margin: 0;
}

//Resize:a ikoner
.contact-card-inner div i {
    font-size: 1.3rem;
}

#contact-heading {
    padding-bottom: 6rem;
    padding-top: 5.75rem;
    @media (min-width: 60rem) {
        padding-top: 9.375rem;
        padding-bottom: 3.75rem;
    }
}

#contact-media-query-squasher {
    @media (min-width: 60rem) {
        height: 45rem;
    }
}