//Form-section
.form-section {
    padding: $main-padding;
}

.form-section .container {
    @include flex-center;
    flex-direction: column;
}

.form-section h4 {
    color: $red;
    line-height: 1.5;
    text-align: center;
}

form {
    font-family: 'open_sansregular';
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: inherit;
    font-size: 1rem;
    color: $red;
}

.form-container {
    
}

input, textarea {
    margin-bottom: $main-margin;
    padding: $main-padding/2;
    border: $red 2px solid;
    width: 15rem;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: $main-margin*8;
}

input[type="text"], input[type="email"], input[type="tel"] {
        font-size: 1rem;
}