.grid-container {
	max-width: 970px;
	margin: 0 auto;
}
.container {
	@media (min-width: 768px) {
    	@include flex-center();
    }
}
.section-padding-lg {
	padding-top: 8rem;
	padding-bottom: 3.75rem;
}
.section-padding-md {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
}

.col-4 {
	width: 33.3333%
}
.col-3 {
	width: 25%
}
.col-6 {
	width: 50%;
}

.well {
	padding: $main-padding;
}