// header-section
header {
    width: 100%;
    height: 100vh;
}

.header-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom 150px;
    @include flex-center(center, flex-end, column);
}

.main-headline-box {
    width: 100%;
    height: 50%;
    @include flex-center(center, flex-end, column);
}

.header-diagonal-top {
    display: block;
    width: 100%;
    height: 22%;
}

.header-diagonal-bottom {
    width: 100%;
    height: 28%;
}

//blixt-ikon 
#large-flash {
    width: 57px;
    height: auto;
    align-self: center;
    display: none;
    //480px
    @media screen and (min-width: 480px) {
        display: block;
    }
}

#small-flash {
    position: absolute;
    right: 16px;
    bottom: 30%;
    width: 38px;
    height: auto;
    position: -100px;
    //480px
    @media screen and (min-width: 480px) {
        display: none;
    }
}

// De olika sidornas bakgrundsbilder  
#vad-vi-gor-bg {
    background-image: url("../images/img/header-desktop-vad-vi-gor@2x.jpg");
}

#index-bg {
    background-image: url("../images/img/header-mobile-hem@2x.jpg");
    background-position-y: 0px;
    //480px
    @media screen and (min-width: 480px) {
        background-image: url("../images/img/header-desktop-hem@2x.jpg");
        background-position: center bottom;
    }
}

#kundcase-bg {
    background-image: url("../images/img/header-mobile-kundcase@2x.jpg");
    background-position: center left;
    @media screen and (min-width: 480px) {
        background-image: url("../images/img/header-desktop-kundcase@2x.jpg");
    }
    // 1280px
    @media screen and (min-width: 1280px) {
        background-position: center bottom;
    }
}

#kontakt-bg {
    background-image: url("../images/img/header-desktop-kontakt@2x.jpg");
}