/*Media querys. 
/Lägg dessa i respektive element.
/breakpoints:
/DESKTOP 1280px
/TABLET 768px
/MOBILE 480px
*/

.hide-on-desktop {
    @media screen and (min-width: 768px) {
        display: none !important;
    }
}

.circle-on-desktop {
    @media screen and (min-width: 768px) {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
}