.navbar {
    position: fixed;
    min-height: 3.75rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0;
    //transition: 0.35s ease;
    @include flex-center(center, center, column);
}

.nav-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    font-size: 1rem;
    @extend .white-text;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 ($main-padding / 3) 0;
    margin: $main-margin;
    border-bottom: 3px solid transparent;
    transition: 0.35s;
    &:hover {
        border-bottom: 3px solid white;
    }
}

.nav-list .active a {
   border-bottom: 3px solid white; 
}

// Mobile nav
#nav-bg-wrapper {
    //padding: $main-padding ($main-padding * 2) 0 ($main-padding * 2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: background-color 0.35s ease;
    &.bg-blue {  
    }
    &.bg-transparent {
        transition-delay: 0.35s !important;
    }
}

.nav-menu {
    overflow: hidden;
    margin-top: 60px;
    @include flex-center(center, center, column);
    transform-origin: top;
    transform: max-height(0);
    transition: max-height 0.35s ease;
    box-shadow: 0 3px 9px rgba(0,0,0,.3);

    .menu-list {
        border-top: solid 1px lighten($blue, 5%);
        border-bottom: solid 1px lighten($blue, 5%);
        list-style-type: none;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 0;
        li {
            a {
                font-size: 1rem;
                @extend .white-text;
                display: block;
                padding: $main-padding * 1.5 0;
                &:hover {
                    background-color: lighten($blue, 2%);
                }
            }
            &.active {
                a {
                    color: $green;
                    background-color: darken($blue, 5%);  
                }
            }
        }
    }
}

#nav-top-row {
    position: relative;
}
.site-logo { 
    float: left;
    padding: 1.1rem 1rem 0.70rem 1rem;
}
#logo {
    width: 80px;
    height: 25px;
}

.shown {
    display: block;
}
.hidden {
    display: none;
}

#hamburger {
    display: block;
    float: right;
    margin: 1.0938rem 1rem 0.9062rem 1rem;
    width: 24px;
}

#hamburger,
#logo {
    transition: 0.5s linear;
    &:hover {
        transform: scale(1.05);
    }
}

#menu-up {
    max-height: 0;
    //transform: scaleY(0);    
}

#menu-down {
    display: block;
    height: auto;
    width: 100%;
    //transform: scaleY(1);
    max-height: 1000px;
}

//MEDIA 
@media (min-width: 768px) {
    #hamburger {
        display: none;
    }
    .nav-menu {
        max-height: 0;
    }
    #menu-down {
        display: none;
        max-height: 0;
    }
    .nav-list{
        display: block;
    }
    .nav-list li a {
        display: block;
        margin: 1rem 0.75rem 0.5rem 0.95rem;
    }
    .site-logo {
        display:block;
        float: left;
    }
    #logo {
        width: 80px;
    }
}

@media screen and (min-width: 480px) {
    .navbar {
        padding: 0;
    }
    #nav-bg-wrapper {
        //padding: $main-padding ($main-padding * 4) 0 ($main-padding * 4);
    }
}