.navbar {
    position: fixed;
    min-height: 3.75rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0;
    transition: 0.5s linear;
    @include flex-center(center, center, column);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    //top: 5px;
}

.nav-list li {
    display: none;
    float: left;
}

.nav-list li a,
.nav-menu li a {
    font-size: 1rem;
    @extend .white-text;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 ($main-padding / 3) 0;
    margin: $main-margin;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
    &:hover {
        border-bottom: 3px solid white;
    }
}

.nav-menu {
    overflow: hidden;
    position: relative;
    top: 59px;
    border-radius: 0 0 10px 10px;
    @include flex-center(center, center, column);
    transition: max-height 0.6s ease-in-out;
    transform-origin:left top;
}

.menu-list {
    list-style-type: none;
    text-align: center;
    padding: $main-padding * 2;
    li {
        padding: $main-padding * 2;
    }
}

#nav-bg-wrapper {
    //padding: $main-padding ($main-padding * 2) 0 ($main-padding * 2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: 0.2s linear;
}

#nav-top-row {
    position: relative;
    //top: -5px;
}
.site-logo { 
    float: left;
    padding: 1rem 1rem 0.4rem 1rem;
}
#logo {
    width: 80px;
}

#hamburger {
    display: block;
    float: right;
    margin: 0.67rem 1rem;
    width: 37px;
}

#hamburger,
#logo {
    transition: 0.5s linear;
    &:hover {
        transform: scale(1.05);
    }
}

#menu-up {
    max-height: 0;
    padding: 0;
}

#menu-down {
    height: auto;
    max-height: 1000px;
}

//MEDIA 
@media (min-width: 768px) {
    #hamburger {
        display: none;
    }
    .nav-menu {
        max-height: 0;
    }
    #menu-down {
        max-height: 0;
        padding: 0;
    }
    .nav-list li {
        display: inline;
    }
    .nav-list li a {
        display: block;
        margin: 1rem 0.75rem 0.5rem 0.95rem;
    }
    .site-logo {
        display:block;
        float: left;
    }
    #logo {
        width: 80px;
    }
}

@media screen and (min-width: 480px) {
    .navbar {
        padding: 0;
    }
    #nav-bg-wrapper {
        //padding: $main-padding ($main-padding * 4) 0 ($main-padding * 4);
    }
}