#handshake {
    @include flex-center(center, flex-end, column);
    position: relative;
    top: -60px;
    background-position: -200px 0px;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/img/sektion-darfor-desktop@2x.jpg");
    @media screen and (min-width: 768px) {
        background-image: url("../images/img/sektion-darfor-desktop@2x.jpg");
        background-position: 0 0;
        position: static;
    }
}

.content-diagonal-top {
    display: block;
    width: 100%;
    height: 30%;
}

.small-diagonal {
    display: block;
    width: 100%;
    height: 50px;
    polygon {
        fill: $smoke;
        @media screen and (min-width: 768px) {
            fill: $white;
        }
    }
}

#darfor,
#darfor-boxes {
    position: relative;
    top: -60px;
    @media screen and (min-width: 768px) {
        position: static;
    }
}

#questions,
#specialister {
    position: relative;
    top: -100px;
    @media screen and (min-width: 768px) {
        top: -40px;
    }
}

#page-end {
    position: relative;
    top: -148px;
    @media screen and (min-width: 768px) {
        top: -40px;
    }
}

#world-green {
    background: url("../images/img/about-globalt-dsktop-bg@2x.jpg");
    background-size: cover;
}

.svg-icon-dyn {
    height: 60px;
    width: auto;
    @media screen and (min-width: 768px) {
        height: 120px;
    }
}

.container-row-static {
    @include flex-center();
}

.container-flex-start {
    @include flex-center(flex-start,
    flex-start,
    row);
}

.dynamic-margin {
    margin: ($main-margin / 2) 0 ($main-margin / 2) 0;
    @media screen and (min-width: 768px) {
        margin: $main-margin;
    }
}

.square {
    height: 12px;
    width: 12px;
    margin: 0.40rem;
    float: left;
}

.block {
    display: block;
    float: right;
}