//Color variables
$gray-dark: #333;
$white: #fff;
$smoke: #e8e8e8;
$green: #45b29d;
$red: #df5a49;
$brown: #97522a;
$orange: #e27a3f;
$yellow: #efc94c;
$blue: #324d5c;

//Grid variables and grid elements
$main-margin: 1rem;
$main-padding: 1rem;

//Fonts
$font-family-sans-serif: "open_sanslight", "Arial", sans-serif;
$font-family-headings: "rudaregular", "Arial", sans-serif;

$base-line-height: 1.5rem;