    //Mixins
    @mixin flex-center($align:center, $justify:center, $direction:row) {
        display: flex;
        align-content: $align;
        justify-content: $justify;
        flex-direction: $direction;
    }
    
    //Grid variables and grid elements
    $main-margin: 1rem;
    $main-padding: 1rem;
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    //Fonts
    @font-face {
        font-family: 'open_sanslight';
        src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'open_sansregular';
        src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'rudaregular';
        src: url('../fonts/ruda-regular-webfont.woff2') format('woff2'), url('../fonts/ruda-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    //Color variables
    $black: #333;
    $white: #e8e8e8;
    $green: #45b29d;
    $red: #df5a49;
    $brown: #97522a;
    $orange: #e27a3f;
    $yellow: #efc94c;
    $blue: #324d5c;
    //HTML & Body
    html {
        height: 100%;
    }
    
    body {
        height: 100%;
        margin: 0;
        background-color: dimgray;
        font: 16px/1.5 "open_sanslight", "Arial", sans-serif;
    }
    
    //Text
    h1,
    h2,
    h3,
    h4 {
        font: 5.063rem "rudaregular", "Arial", sans-serif;
    }
    
    h2 {
        font-size: 3.375rem;
    }
    
    h3 {
        font-size: 2.25rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    p {
        margin: $main-margin;
    }
    
    //Buttons
    button {
        @include flex-center;
        font-size: 1.5rem;
        background-color: transparent;
        color: white;
        margin: $main-margin;
        padding: $main-padding;
        border: 1px white solid;
        border-bottom: 5px white solid;
        border-radius: 10px;
        text-align: center;
        width: 30rem;
    }
    
    .btn-submit {
        font-family: 'open_sansregular';
        background-color: $orange;
        border-style: none;
        border-bottom: 5px $brown solid;
        width: 40rem;
    }
    
    .btn-green {
        color: $green;
        border: 1px $green solid;
        border-bottom: 5px $green solid;
    }
    
    .btn-yellow {
        color: $yellow;
        border: 1px $yellow solid;
        border-bottom: 5px $yellow solid;
    }
    
    .btn-black {
        color: $black;
        border: 1px $black solid;
        border-bottom: 5px $black solid;
    }
    
    .btn-red {
        color: $red;
        border: 1px $red solid;
        border-bottom: 5px $red solid;
    }
    
    //bg-colors for boxes
    .bg-red {
        background: $red;
        fill: $red;
    }
    
    // header-section
    header {
        width: 100%;
        height: 100vh;
    }
    
    header h3 {
        color: white;
    }
    
    .header-img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center bottom 100px;
        background-blend-mode: multiply;
        @include flex-center(center,
        flex-end,
        column);
    }
    
    .header-diagonal-top {
        display: block;
        width: 100%;
        height: 100px;
    }
    
    .header-diagonal-bottom {
        width: 100%;
        height: 28%;
    }
    
    // här kan vi fylla på med de olika sidornas bakgrundsbilder    
    #racecar {
        background-image: url("../images/img/Formula-1-1280.png");
    }
    
    //Media queries
    @media screen and (min-width: 480px) {}
    
    @media (min-width: 768px) {}
    
    @media screen and (min-width:1280px) {
        .header-img {
            background-position: center bottom;
        }
    }