@import 'normalize';
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'backgrounds';
@import 'grid';
@import 'type';
@import 'buttons';
@import 'form';
@import 'footer';
@import 'media';
@import 'header';
@import 'top-nav';
//HTML & Body
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: white;
    font: 16px/1.5 "open_sanslight", "Arial", sans-serif;
}