//Fonts
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rudaregular';
    src: url('../fonts/ruda-regular-webfont.woff2') format('woff2'), url('../fonts/ruda-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Colors
$black: #333;
$white: #e8e8e8;
$green: #45b29d;
$red: #df5a49;
$brown: #97522a;
$orange: #e27a3f;
$yellow: #efc94c;
$blue: #324d5c;

//HTML & Body
html {
    height: 100%;
}

body {
    height: 100%;
    background: $black;
    font: 16px/1.5 "open_sanslight", "Arial", sans-serif;
}

// Font-storlekar
h1, h2, h3, h4 {
    font: 5.063rem "rudaregular", "Arial", sans-serif;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

//Buttons
.btn-default {
    color: white;
    padding: 15px;
    border: 1px white solid;
    border-bottom: 5px white solid;
    border-radius: 10px;
    text-align: center;
    width: 10rem;
}

.btn-submit {
    font-size: 1.5rem;
    color: white;
    background-color: $orange;
    padding: 15px;
    border-bottom: 5px $brown solid;
    border-radius: 10px;
    text-align: center;
    width: 20rem;
}

//Grid
$main-margin: 1rem;    //Gutter

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Media queries
@media (min-width: 480px) {}

@media (min-width: 768px) {}