<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>ASAP - Kontakt</title>
    <link rel=stylesheet href="../css/main.css">
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
        <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
    </div>
    <h1 class="white-text">Det är vi som är ASAP</h1>

    <p class="white-text">Sveriges, kanske världens, snabbaste webbyrå.</p>

    <h2 class="green-text">Vår story</h2>
    <p class="black-text">ASAP Development startades 2016 av fyra utvecklare som märkte att andra webbyråer mest fikar och spelar pingis.</p>
    <p class="black-text">Samtidigt vet vi att tidsaspekten ofta är det viktigaste för dagens kunder. Det måste gå snabbt.</p>
    <p class="black-text">Därför har vi sett till att ASAP Development blivit Sveriges, kanske världens, snabbaste webbyrå.</p>

    <p class="white-text">Vi levererar din sajt på 24 timmar. Med högsta kvalitet och full support.</p>

    <div class="bg-white">
        <h2 class="red-text">Möt våra medarbetare</h2>
        <div>
            <img src="../images/sonic" alt="Sonic" />
            <div class="bg-none">
                <h3 class="red-text">Sonikku za Hejjihoggu</h3>
                <p class="black-text">Webbutveckling & Support</p>
                <!--Mail länk?-->
                <a href="">sonikku@asap.com</a>
            </div>
        </div>

        <div>
            <img src="../images/max" alt="Max Rockatansky" />
            <div class="bg-none">
                <h3 class="red-text">Max Rockatansky</h3>
                <p class="black-text">Emergency Transporter</p>
                <a href="">max@asap.com</a>
            </div>
        </div>
        <div>
            <img src="images/barry" alt="Barry Allen" />
            <div class="bg-none">
                <h3 class="red-text">Barry Allen</h3>
                <p class="black-text">Tech Scientist</p>
                <a href="">barry@asap.com</a>
            </div>
        </div>
        <div>
            <img src="../images/daniel" alt="Daneil Morales" />
            <div class="bg-none">
                <h3 class="red-text">Daniel Morales</h3>
                <p class="black-text">Emergency Transporter</p>
                <a href="">daniel@asap.com</a>
            </div>
        </div>
    </div>

    <div class="bg-blue karta">
        <h2 class="white-text">Våra konsulter</h2>
    </div>

    <div class="bg-white">
        <div class="bg-none">
            <h2 class="red-text">Vi svarar innan du hinner blinka</h2>
            <form></form>
        </div>
    </div>


    <footer>
        <div class="container bg-blue">
            <h4 class="white-text">ASAP DEVELOPMENT</h4>
            <address class="white-text">
                Tomtebodavägen 3A 171 65<br>
                Solna<br>
                info@asapdev.se<br>
                +46 8 466 60 00
            </address>
            <ul class="ul-social white-text">
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">TWITTER</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
    </footer>
</body>