<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kontakt</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!--- header-section-->
    <header>
        <div class="header-img bg-green" id="kontakt-bg">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Det är vi som är ASAP</h1>
                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>

            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-green" points="100 0 100 10 0 10" />
            </svg>

            <div class="header-diagonal-bottom bg-green">
                <p class="lead white-text text-center headline-margin">Sveriges, kanske världens, snabbaste webbyrå.</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->
    <!--Navbar-->
    <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
        <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
    </div>
    <h1 class="white-text">Det är vi som är ASAP</h1>

    <p class="white-text">Sveriges, kanske världens, snabbaste webbyrå.</p>

    <h2 class="green-text">Vår story</h2>
    <p class="black-text">ASAP Development startades 2016 av fyra utvecklare som märkte att andra webbyråer mest fikar och spelar pingis.</p>
    <p class="black-text">Samtidigt vet vi att tidsaspekten ofta är det viktigaste för dagens kunder. Det måste gå snabbt.</p>
    <p class="black-text">Därför har vi sett till att ASAP Development blivit Sveriges, kanske världens, snabbaste webbyrå.</p>

    <p class="white-text">Vi levererar din sajt på 24 timmar. Med högsta kvalitet och full support.</p>

    <div>
        <h2 class="red-text bg-smoke contact-heading text-center" id="contact-heading">Möt våra medarbetare</h2></div>
    <div id="contact-media-query-squasher">
        <div class="bg-smoke contact-main">
            <div class="contact-card">
                <img src="../images/img/medarbetare-sonic.png" alt="Sonic" />
                <div class="bg-white contact-card-inner">
                    <h3 class="red-text contact-heading">Sonikku za Hejjihoggu</h3>
                    <p class="black-text contact-font">Webbutveckling & Support</p>
                    <div>
                        <i class="fa fa-envelope black-text"></i> <a href="http://www.theonion.com/" class="black-text">sonikku@asap.com</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <img src="../images/img/medarbetare-max.jpg" alt="Max Rockatansky" />
                <div class="bg-white contact-card-inner">
                    <h3 class="red-text contact-heading">Max Rockatansky</h3>
                    <p class="black-text contact-font">Emergency Transporter</p>
                    <div>
                        <i class="fa fa-envelope black-text envelope-size"></i> <a href="http://www.collegehumor.com/" class="black-text">max@asap.com</a>
                    </div>
                </div>
            </div>
            <div class="contact-card">
                <img src="../images/img/medarbetare-barry.jpg" alt="Barry Allen" />
                <div class="bg-white contact-card-inner">
                    <h3 class="red-text contact-heading">Barry Allen</h3>
                    <p class="black-text contact-font">Tech Scientist</p>
                    <div>
                        <i class="fa fa-envelope black-text"></i> <a href="http://www.overheardinnewyork.com/" class="black-text">barry@asap.com</a>
                    </div>
                </div>
            </div>
            <div class="contact-card">
                <img src="../images/img/medarbetare-daniel.jpg" alt="Daneil Morales" />
                <div class="bg-white contact-card-inner">
                    <h3 class="red-text contact-heading">Daniel Morales</h3>
                    <p class="black-text contact-font">Emergency Transporter</p>
                    <div>
                        <i class="fa fa-envelope black-text"></i> <a href="http://www.funnyordie.com/" class="black-text">daniel@asap.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="karta">
        <h2 class="white-text text-center">Våra konsulter</h2>
    </div>

    <div class="bg-smoke">
        <div class="bg-white">
            <h2 class="red-text">Vi svarar innan du hinner blinka</h2>
            <form></form>
        </div>
    </div>


    <footer>
        <div class="container bg-blue">
            <h4 class="white-text">ASAP DEVELOPMENT</h4>
            <address class="white-text">
                Tomtebodavägen 3A 171 65<br>
                Solna<br>
                info@asapdev.se<br>
                +46 8 466 60 00
            </address>
            <ul class="ul-social white-text">
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">TWITTER</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>