<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>ASAP - Kontakt</title>
    <link rel=stylesheet href="../css/main.css">
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
        <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
    </div>
    <h1>Det är vi som är ASAP</h1>

    <p>Sveriges, kanske världens, snabbaste webbyrå.</p>

    <h2>Vår story</h2>
    <p>ASAP Development startades 2016 av fyra utvecklare som märkte att andra webbyråer mest fikar och spelar pingis.</p>
    <p>Samtidigt vet vi att tidsaspekten ofta är det viktigaste för dagens kunder. Det måste gå snabbt.</p>
    <p>Därför har vi sett till att ASAP Development blivit Sveriges, kanske världens, snabbaste webbyrå.</p>

    <p>Vi levererar din sajt på 24 timmar. Med högsta kvalitet och full support.</p>

    <div class="bg-white">
        <h2>Möt våra medarbetare</h2>
        <div>
            <img src="../images/sonic" alt="Sonic" />
            <div class="bg-none">
                <h3>Sonikku za Hejjihoggu</h3>
                <p>Webbutveckling & Support</p>
                <!--Mail länk?-->
                <a href="">sonikku@asap.com</a>
            </div>
        </div>

        <div>
            <img src="../images/max" alt="Max Rockatansky" />
            <div class="bg-none">
                <h3>Max Rockatansky</h3>
                <p>Emergency Transporter</p>
                <a href="">max@asap.com</a>
            </div>
        </div>
        <div>
            <img src="images/barry" alt="Barry Allen" />
            <div class="bg-none">
                <h3>Barry Allen</h3>
                <p>Tech Scientist</p>
                <a href="">barry@asap.com</a>
            </div>
        </div>
        <div>
            <img src="../images/daniel" alt="Daneil Morales" />
            <div class="bg-none">
                <h3>Daniel Morales</h3>
                <p>Emergency Transporter</p>
                <a href="">daniel@asap.com</a>
            </div>
        </div>
    </div>

    <div class="bg-blue karta">
        <h2>Våra konsulter</h2>
    </div>

    <div class="bg-white">
        <div class="bg-none">
            <h2>Vi svarar innan du hinner blinka</h2>
            <form></form>
        </div>
    </div>


    <footer>
        <div class="container bg-blue">
            <h4>ASAP DEVELOPMENT</h4>
            <address>
                Tomtebodavägen 3A 171 65<br>
                Solna<br>
                info@asapdev.se<br>
                +46 8 466 60 00
            </address>
            <ul class="ul-social">
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">TWITTER</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
    </footer>
</body>