<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kundcase</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css"> </head>

<body>
    <!--- header-section-->
    <header>
        <div class="header-img bg-blue" id="kundcase-bg">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Våra projekt</h1> <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash"> <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash"> </div>
            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-blue" points="100 0 100 10 0 10" /> </svg>
            <div class="header-diagonal-bottom bg-blue">
                <p class="lead white-text text-center headline-margin">Gör som några av världens största och mest innovativa företag. Anlita ASAP!</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->
    <p class="white-text">Gör som några av världens största och mest innovativa företag. Anlita ASAP!</p>
    <section class="projekt bg-smoke section-padding-md">
        <h2 class="section-heading text-center">Våra projekt</h2>
        
        <div class="projekt-item bg-white section-padding-md">
            <div class="alert projekt-alert right">
                <ul class="alert-text right">
                    <li class="">Sajten fixad på</li>
                    <li class="alert-num">24</li>
                    <li class="">timmar</li>
                </ul> <img src="../images/svg/alert-circle-projekt-right.svg" alt="Sajten fixad på 36 timmar" /> </div>
            <div class="grid-container">
                <div class="container">
                    <div class="col-6">
                        <h3>LexCorp</h3>
                        <p>Koncernen LexCorp behövde informera om ett olyckligt kemiskt utsläpp. Självklart valde de ASAP.</p>
                    </div>
                    <div class="col-6"> <img src="../images/img/projekt-logo-mob-dunder_mifflin.jpg" alt="Dunder Mifflin" /> </div>
                </div>
            </div>
        </div>
        <div class="projekt-item bg-white vandeley section-padding-md">
            <div class="alert projekt-alert left">
                <ul class="alert-text left">
                    <li class="">På plats inom</li>
                    <li class="alert-num">2</li>
                    <li class="">timmar</li>
                </ul> <img src="../images/svg/alert-circle-projekt-left.svg" alt="På plats inom 2 timmar" /> </div>
            <div class="grid-container">
                <div class="container">
                    <div class="col-6"> <img src="../images/img/projekt-logo-dsktop-vandelay.jpg" alt="Vandelay Industries" /> </div>
                    <div class="col-6">
                        <h3>Vandelay Industries</h3>
                        <p>Alla utvecklare på latexföretaget Vandelay blev magsjuka. ASAPs personal ryckte in omgående.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projekt-item bg-lexcorp section-padding-md">
            <div class="alert projekt-alert right">
                <ul class="alert-text right">
                    <li class="">Sajten fixad på</li>
                    <li class="alert-num">36</li>
                    <li class="">timmar</li>
                </ul> <img src="../images/svg/alert-circle-projekt-right.svg" alt="Sajten fixad på 36 timmar" /> </div>
            <div class="grid-container">
                <div class="container">
                    <div class="col-6">
                        <h3>LexCorp</h3>
                        <p>Koncernen LexCorp behövde informera om ett olyckligt kemiskt utsläpp. Självklart valde de ASAP.</p>
                    </div>
                    <div class="col-6"> <img src="../images/img/projekt-logo-mob-lexcorp.jpg" alt="Lexcorp" /> </div>
                </div>
            </div>
        </div>
        <div class="container section-padding-md"> <a href="#" class="btn btn-green">Se hela vårt portfolio</a> </div>
    </section>
    <section class="bg-blue"> <img src="../images/svg/icon-quote.svg" alt="citat">
        <h3 class="green-text">Så säger våra kunder</h3>
        <p>“Webbsidan blev klar medan jag drack kaffe.”</p>
        <p>- Tony Stark</p>
        <p class="white-text">”Tänk om allt gick så fort som det gör för ASAP”</p>
        <p class="green-text">- Bruce Wayne</p>
        <p class="white-text">“Time is money, friend.”</p>
        <p class="green-text">- Scrooge McDuck</p>
    </section>
    <section class="form-wrapper section-padding-md">
        <div class="form-section bg-smoke">
            <div class="container form-container bg-white">
                <h2 class="section-heading">Vi svarar innan du hinner blinka</h2>
                <form>
                    <div> Namn
                        <br>
                        <input type="text" name="name"> </div>
                    <div> E-mail
                        <br>
                        <input type="email" name="email"> </div>
                    <div> Telefon
                        <br>
                        <input type="tel"> </div>
                    <div> Meddelande
                        <br>
                        <textarea></textarea>
                    </div>
                    <input type="submit" value="SKICKA MEDDELANDE" class="btn btn-submit"> </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container bg-blue">
            <h4 class="white-text">ASAP DEVELOPMENT</h4> <address>
                Tomtebodavägen 3A<br>
                171 65 Solna<br>
                info@asapdev.se<br>
                +46 8 466 60 00
            </address>
            <ul class="ul-social">
                <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
            </ul>
            <div class="container"> <a href="#" class="btn btn-to-top"><i class="fa fa-angle-up"></i> </a> </div>
        </div>
    </footer>
</body>

</html>