<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kundcase</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>

<body>
    <!--- header-section-->
    <header>
        <div class="header-img bg-blue" id="city">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Våra projekt</h1>
                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>

            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-blue" points="100 0 100 10 0 10" />
            </svg>

            <div class="header-diagonal-bottom bg-blue">
                <p class="lead white-text text-center headline-margin">Gör som några av världens största och mest innovativa företag. Anlita ASAP!</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->
    <!--Navbar-->
    <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
        <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
    </div>

    <h1 class="white-text">Våra projekt</h1>
    <p class="white-text">Gör som några av världens största och mest innovativa företag. Anlita ASAP!</p>

    <div>
        <img src="../images/corner2" alt="Sajten fixad på 24 timmar" />
        <img src="../images/dunder-mifflin" alt="Dunder Mufflin" />
        <h3 class="black-text">Dunder Mifflin</h3>
        <p class="black-text">Pappersföretaget Dunder Mifflin behövde bli mer responsiva. Det fixade vi över natten.</p>
    </div>

    <div class="bg-black">
        <img src="../images/corner2" alt="Sajten fixad på 24 timmar" />
        <img src="../images/lexcorp" alt="Lexcorp" />
        <h3 class="white-text">LexCorp</h3>
        <p class="white-text">Koncernen LexCorp behövde informera om ett olyckligt kemiskt utsläpp. Självklart valde de ASAP.</p>
    </div>

    <div>
        <img src="../images/corner" alt="På plats inom 2 timmar" />
        <img src="../images/vandelay" alt="Vandelay Industries">
        <h3 class="black-text">Vandelay Industries</h3>
        <p class="black-text">Alla utvecklare på latexföretaget Vandelay blev magsjuka. ASAPs personal ryckte in omgående.</p>
    </div>

    <section class="bg-blue">
        <img src="../images/?????????????" alt="citat">

        <h3 class="green-text">Så säger våra kunder</h3>
        <p>“Webbsidan blev klar medan jag drack kaffe.”</p>
        <p>- Tony Stark</p>

        <p class="white-text">”Tänk om allt gick så fort som det gör för ASAP”</p>
        <p class="green-text">- Bruce Wayne</p>

        <p class="white-text">“Time is money, friend.”</p>
        <p class="green-text">- Scrooge McDuck</p>
    </section>

    <div class="bg-smoke">
        <div class="bg-white">
            <h2 class="red-text">Vi svarar innan du hinner blinka</h2>
            <form></form>
        </div>
    </div>
    <footer>
        <div class="container bg-blue">
            <h4 class="white-text">ASAP DEVELOPMENT</h4>
            <address class="white-text">
                Tomtebodavägen 3A 171 65<br>
                Solna<br>
                info@asapdev.se<br>
                +46 8 466 60 00
            </address>
            <ul class="ul-social white-text">
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">TWITTER</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
    </footer>


</body>

</html>