<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>ASAP - Vad vi gör</title>
    <link rel=stylesheet href="../css/main.css">
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
        <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
    </div>

    <h1>Brinner det i knutarna?</h1>
    <p>Vi vet att tiden är våra kunders största bristvara. Och vi har lösningen.</p>

    <p>I en värld som snurrar allt snabbare kan förutsättningarna förändras över en natt.</p>
    <p>Då behövs en webbyrå som agerar utan att blinka. Det är därför ASAP Development finns.</p>
    <p>Vi levererar din sajt på 24 timmar. Med högsta kvalitet och full support.</p>

    <h2>Därför är vi Sveriges snabbaste webbyrå</h2>
    <div>
        <h3>Flexibelt</h3>
        <p>Vårt unika nätverk av konsulter är alltid redo att kasta sig över ditt projekt.</p>
    </div>
    <div>
        <h3>Globalt</h3>
        <p>Medarbetare i fem tidszoner gör att flitens lampa alltid lyser på ASAP.</p>
    </div>
    <div>
        <h3>Effektivt</h3>
        <p>Vår superagila metod gör att vi kodar upp till tio gånger snabbare än konkurrenterna.</p>
    </div>
    <div>
        <h3>Non stop</h3>
        <p>Inga möten. Inga fikapauser. Inget julbord. Vi jobbar.</p>
    </div>

    <div>
        <h3>Måste produkten lanseras nu på direkten?</h3>
        <p>Vi har sajten klar imorgon.</p>
    </div>
    <div>
        <h3>Har du ett brådskande budskap att föra ut?</h3>
        <p>Vi kommunicerar ut det ASAP.</p>
    </div>
    <div>
        <h3>Är webbprojektet farligt nära deadline?</h3>
        <p>Vi ror det iland på nolltid.</p>
    </div>

    <p>Vi är specialister på responsiv webb, HTML, CSS och JavaScript.</p>
    <button class="btn-white">Kontakta oss idag</button>
    <footer></footer>
</body>