<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Vad vi gör</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>

<body>
    <!--- header-section-->
    <header>
        <div class="header-img bg-red" id="racecar">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Brinner det i knutarna?</h1>
                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>

            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-red" points="100 0 100 10 0 10" />
            </svg>

            <div class="header-diagonal-bottom bg-red">
                <p class="lead white-text text-center headline-margin">Vi vet att tiden är våra kunders största bristvara. Och vi har lösningen.</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->
    <!--Navbar-->
    <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
        <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav>
    </div>

    <h1 class="white-text">Brinner det i knutarna?</h1>
    <p class="white-text">Vi vet att tiden är våra kunders största bristvara. Och vi har lösningen.</p>

    <p class="black-text">I en värld som snurrar allt snabbare kan förutsättningarna förändras över en natt.</p>
    <p class="black-text">Då behövs en webbyrå som agerar utan att blinka. Det är därför ASAP Development finns.</p>
    <p class="white-text">Vi levererar din sajt på 24 timmar. Med högsta kvalitet och full support.</p>

    <div class="bg-green">
        <h2 class="white-text">Därför är vi Sveriges snabbaste webbyrå</h2>
    </div>

    <div>
        <h3 class="red-text">Flexibelt</h3>
        <p class="black-text">Vårt unika nätverk av konsulter är alltid redo att kasta sig över ditt projekt.</p>
    </div>
    <div class="bg-green">
        <h3 class="white-text">Globalt</h3>
        <p class="white-text">Medarbetare i fem tidszoner gör att flitens lampa alltid lyser på ASAP.</p>
    </div>
    <div>
        <h3 class="red-text">Effektivt</h3>
        <p class="black-text">Vår superagila metod gör att vi kodar upp till tio gånger snabbare än konkurrenterna.</p>
    </div>
    <div class="bg-green">
        <h3 class="white-text">Non stop</h3>
        <p class="white-text">Inga möten. Inga fikapauser. Inget julbord. Vi jobbar.</p>
    </div>

    <div class="bg-white">
        <div class="bg-none">
            <h3 class="red-text">Måste produkten lanseras nu på direkten?</h3>
            <p class="black-text">Vi har sajten klar imorgon.</p>
        </div>
        <div class="bg-none">
            <h3 class="red-text">Har du ett brådskande budskap att föra ut?</h3>
            <p class="black-text">Vi kommunicerar ut det ASAP.</p>
        </div>
        <div class="bg-none">
            <h3 class="red-text">Är webbprojektet farligt nära deadline?</h3>
            <p class="black-text">Vi ror det iland på nolltid.</p>
        </div>
    </div>

    <div class="bg-red">
        <p class="white-text">Vi är specialister på responsiv webb, HTML, CSS och JavaScript.</p>
        <button class="btn-white">Kontakta oss idag</button>
    </div>
    <footer>
        <div class="container bg-blue">
            <h4 class="white-text">ASAP DEVELOPMENT</h4>
            <address class="white-text">
                Tomtebodavägen 3A 171 65<br>
                Solna<br>
                info@asapdev.se<br>
                +46 8 466 60 00
            </address>
            <ul class="ul-social white-text">
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">TWITTER</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>