<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Vad vi gör</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!-- Nav section -->
    <nav class="navbar clearfix">
        <div id="nav-bg-wrapper">
            <div id="nav-top-row" class="clearfix">
                <a class="site-logo" href="../index.html">
                    <img id="logo" src="../images/svg/asap-logo.svg" alt="ASAP logo">
                </a>

                <ul class="nav-list clearfix">
                    <li><a href="../views/vad-vi-gor.html">Vad vi gör</a></li>
                    <li><a href="../views/kundcase.html">Kundcase</a></li>
                    <li><a href="../views/kontakt.html">Kontakt</a></li>
                </ul>
                <a id="hamburger" href="#" class="nav-collapse">
                    <img src="../images/svg/icon-hamburger.svg" alt="hamburger menu">
                </a>
            </div>
        </div>
        <div id="menu-up" class="nav-menu lead bg-green">
            <ul class="menu-list">
                <li class="lead"><a href="../views/vad-vi-gor.html">Vad vi gör</a></li>
                <li class="lead"><a href="../views/kundcase.html">Kundcase</a></li>
                <li class="lead"><a href="../views/kontakt.html">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <!-- //End nav section -->
    <!--- header-section-->
    <header id="header-vadvigor">
        <div class="header-img bg-red" id="vad-vi-gor-bg">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Brinner det i knutarna?</h1>
                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>

            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-red" points="100 0 100 10 0 10" />
            </svg>

            <div class="header-diagonal-bottom bg-red">
                <p class="lead white-text text-center headline-margin">Vi vet att tiden är våra kunders största bristvara. Och vi har lösningen.</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->
    <!--Navbar-->
    <!-- <div class="navbar">
        <!--Inre kallas nav p.g.a. screenreaders-->
    <!-- <nav>
            <a href="vad-vi-gor.html">Vad vi gör</a>
            <a href="kundcase.html">Kundcase</a>
            <a href="kontakt.html">Kontakt</a>
        </nav> 
    </div> -->
    <section class="bg-white section-padding-md">
        <div class="grid-container">
            <div class="container">
                <div class="col-4 well container-col">
                    <p class="black-text lg-body-text">I en värld som snurrar allt snabbare kan förutsättningarna förändras över en natt.</p>
                    <p class="black-text lg-body-text">Då behövs en webbyrå som agerar utan att blinka. Det är därför ASAP Development finns.</p>
                </div>
                <div class="col-2"></div>
                <svg class="header-diagonal-top hide-on-desktop" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                    <polygon class="bg-red" points="0 0 100 10 0 10" />
                </svg>

                <div class="col-6 bg-red well circle-on-desktop container-col">
                    <div class="well">
                        <p class="white-text text-center lg-body-text-static">Vi levererar din sajt på <b>24 timmar</b>. Med högsta kvalitet och full support.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="bg-smoke">
        <div id="handshake">
            <svg class="content-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-green" points="100 0 100 10 0 10" />
            </svg>
        </div>
        <div class="bg-green well" id="darfor">
            <h2 class="section heading text-center white-text">Därför är vi <b>Sveriges snabbaste</b> webbyrå</h2>
        </div>
    </section>
    <section id="darfor-boxes" class="bg-smoke">
        <div class="grid-container">
            <div class="container-col marketing-list">
                <div class="col-12 bg-white marketing-item container-row-static well">
                    <div class="col-3 marketing-image">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-arrow.svg" onerror="this.onerror=null; this.src='image.png'">
                    </div>
                    <div class="col-3 well">
                        <h3 class="marketing-heading text-left h3-to-h4">Flexibelt</h3>
                        <p class="text-left lg-body-text">Vårt unika nätverk av konsulter är alltid redo att kasta sig över ditt projekt. </p>
                    </div>
                </div>
                <div class="col-12 bg-green marketing-item container-row-static well">
                    <div class="col-3 well">
                        <h3 class="marketing-heading text-left h3-to-h4">Globalt</h3>
                        <p class="text-left lg-body-text">Medarbetare i fem tidszoner gör att flitens lampa alltid lyser på ASAP.</p>
                    </div>
                    <div class="col-3 marketing-image">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-bullseye.svg" onerror="this.onerror=null; this.src='image.png'">
                    </div>
                </div>
                <div class="col-12 bg-white marketing-item container-row-static well">
                    <div class="col-3 marketing-image">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-bars.svg" onerror="this.onerror=null; this.src='image.png'">
                    </div>
                    <div class="col-3 well">
                        <h3 class="marketing-heading text-left h3-to-h4">Effektivt</h3>
                        <p class="text-left lg-body-text">Vår superagila metod gör att vi kodar upp till tio gånger snabbare än konkurrenterna.</p>
                    </div>
                </div>
                <div class="col-12 bg-green marketing-item container-row-static well">
                    <div class="col-3 well">
                        <h3 class="marketing-heading text-left h3-to-h4">Non stop</h3>
                        <p class="text-left lg-body-text">Inga möten. Inga fikapauser. Inget julbord. Vi jobbar.</p>
                    </div>
                    <div class="col-3 marketing-image">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-bulb.svg" onerror="this.onerror=null; this.src='image.png'">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="bg-smoke">
        <div class="bg-white">
            <h3 class="red-text">Måste produkten lanseras nu på direkten?</h3>
            <p class="black-text">Vi har sajten klar imorgon.</p>
        </div>
        <div class="bg-white">
            <h3 class="red-text">Har du ett brådskande budskap att föra ut?</h3>
            <p class="black-text">Vi kommunicerar ut det ASAP.</p>
        </div>
        <div class="bg-white">
            <h3 class="red-text">Är webbprojektet farligt nära deadline?</h3>
            <p class="black-text">Vi ror det iland på nolltid.</p>
        </div>
    </div>

    <div class="bg-red">
        <p class="white-text">Vi är specialister på responsiv webb, HTML, CSS och JavaScript.</p>
        <button class="btn-white">Kontakta oss idag</button>
    </div>
    <section class="form-section section-padding-md">
        <div class="form-wrapper bg-smoke grid-container">
            <div class="form-container bg-white">
                <h2 class="section-heading">Vi svarar innan du hinner blinka</h2>
                <form>
                    <div class="container">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="name">Namn</label>
                                <div class="form-input">
                                    <input type="text" name="name" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <div class="form-input">
                                    <input type="email" name="email" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Telefon</label>
                                <div class="form-input">
                                    <input type="tel"> </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label>Meddelande</label>
                                <div class="form-input">
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Skicka Meddelande" class="btn btn-submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="bg-blue">
            <div class="grid-container">
                <div class="container">
                    <div class="col4">
                        <h4>ASAP DEVELOPMENT</h4>
                        <address>
                        Tomtebodavägen 3A<br>
                        171 65 Solna<br>
                        info@asapdev.se<br>
                        +46 8 466 60 00
                    </address>
                    </div>
                    <div class="col8"></div>
                </div>
                <ul class="center-block ul-social">
                    <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                </ul>
                <a href="#" class="center-block btn btn-to-top"><i class="fa fa-angle-up"></i> </a>
            </div>
        </div>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>